<h2>Tekken Frame Data</h2>

<div class="container">
  <table class="frameTable">

    <thead>
      <tr>
        <th>Name</th>
        <th>Command</th>
        <th>Hit Level</th>
        <th>Damage</th>
        <th>Start Up Frames</th>
        <th>On Block Frames</th>
        <th>On Hit</th>
        <th>On Hit</th>
        <th>On Counter Hit</th>
        <th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of characterData">
        <td>{{data.Character}}</td>
        <td>{{data.Command}}</td>
        <td>{{data.HitLevel}}</td>
        <td>{{data.Damage}}</td>
        <td>{{data.StartUpFrames}}</td>
        <td>{{data.BlockFrames}}</td>
        <td>{{data.HitFrames}}</td>
        <td>{{data.CounterHitFrames}}</td>
        <td>{{data.Notes}}</td>
      </tr>
    </tbody>
  </table>
</div>